body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://1.bp.blogspot.com/-cyiGgAb0ldc/XoD-yhAl9YI/AAAAAAABAl4/Ysd2q4rf0l4dWeMGgW_ddw4zJRtNdSFawCLcBGAsYHQ/s1600/IMG_17F47E00E3A1-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
